<tr>
    <td><a href="#/eventDetails/:{{_id}}" class="btn btn-primary">Details</a></td>
    <td>{{star}}<br></td>
    <td>{{category}}</td>
    <td>{{date}}</td>
    <td>{{location}}</td>
    <td>{{quantity}}</td>
    <td>{{totalPrice}}</td>
    <td>{{currency}}</td>
    <td>
        <a href="#/removeItem/:{{_id}}" class="btn-sm btn-primary">Remove</a>

    </td>
</tr>