
<tr>
    <td><button class="w3-button-small w3-green w3-padding-small"><a href="#/eventDetails/:{{_id}}">[Details]</a></button></td>
    <td>{{product.event.name}}</td>
    <td>{{product.sum}}</td>
    <td>{{product.countTickets}}</td>
    <td>{{product.countTickets}}</td>
    <td>Action</td>
    <td><button class="w3-button-small w3-red w3-padding-small"><a href="#/addInCartAction/:{{_id}}">[Confirm adding in the cart]</a></button></td>
</tr>
