{{>header}}
    <h1>Event: {{event.star}}</h1>
<br>
    <h2>Category: {{event.category}}</h2>
<br>
    <h2><i>Date: {{event.date}}</i></h2>
<br>
    <h3>Location: {{event.location}}</h3>
<br>
    <h2>Price: {{event.price}} {{event.currency}}</h2>
<br>
    <h4>Discription:</h4>
    <h5>{{event.description}}</h5>
<br>
    <td>
        {{#if isAdmin}}
            <a href="#/delete/:{{_id}}">[Delete]</a>
            <hr>
            <a href="#/edit/:{{_id}}">[Edit]</a>
        {{/if}}

{{#if event.availabality}}
    {{#if isUser}}
        <h4>Price:</h4>

        <div><input type="number" name="price" required></div>
        <hr>
        <a href="#/buy/:{{_id}}">[Buy]</a>
        <hr>
    {{/if}}
    {{#if isUnlogged}}
        <h3>If you want to buy tickets, have to log in: <a href="#/login" id="linkLogin"><i class="fa fa-lock"></i>Login</a> or register un account: <a href="#/register" id="linkRegister"><i class="fa fa-user"></i>Register</a></h3>
    {{/if}}
    <br>
    <h3>There are {{event.tickets}} tickets</h3>
{{else}}
    <h3>Sorry, the tickets are sold. You can view other events: <a href="#/eventsList" id="linkEvents"><i class="fa fa-star"></i>Events</a></h3>
{{/if}}
        <br>
        <br>
{{>footer}}