
        {{>header}}
<section>
        <div class="w3-padding-64 w3-center w3-white">
                <div class="w3-half w3-section">
                    <ul class="w3-ul w3-card-2 w3-hover-shadow">
                        <img src="images/{{event.image}}" alt="{{event.star}}" style="width:431px;height:260px;">
                        <li class="w3-red w3-xlarge w3-padding-32">{{event.star}}</li>
                        <li class="w3-blue w3-xlarge w3-padding-32">{{event.name}}</li>
                        <li class="w3-padding-16">Category: <b>{{event.category}}</b></li>
                        <li class="w3-padding-16">Date: <b>{{event.date}}</b></li>
                        <li class="w3-padding-16">Location: <b>{{event.location}}</b></li>
                        <li class="w3-padding-16">Description: <b>{{event.description}}</b></li>
                        <li class="w3-padding-16">Price: <b>{{event.price}} {{event.currency}}</b></li>
                        <li class="w3-padding-16">Venue: <b>{{venueName}}</b></li>
                        {{#if isAdmin}}
                            <button class="w3-button-small w3-red w3-padding-large"><a href="#/delete/:{{_id}}">[Delete]</a></button>
                            <hr>
                            <button class="w3-button-small w3-green w3-padding-large"><a href="#/edit/:{{_id}}">[Edit]</a></button>
                        {{/if}}
                        {{#if event.availabality}}
                            {{#if isUser}}
                                <h4>Tickets:</h4>

                                <form action="#/addToCart/:{{_id}}" method="post">
                                    <div><input type="number" name="quantity" id="tickets" required></div>
                                    <br>
                                    <div><input type="submit" class="btn-sm btn-primary" value="Add to cart"></div>
                                </form>
                            {{/if}}

                            {{#if isUnlogged}}
                                <li class="w3-padding-16"><b>If you want to buy tickets, have to log in: <a href="#/login" id="linkLogin"><i class="fa fa-lock"></i>Login</a> or register un account: <a href="#/register" id="linkRegister"><i class="fa fa-user"></i>Register</a></b></li>
                            {{/if}}
                            <br>
                            <li class="w3-padding-16"><b>There are {{event.tickets}} tickets</b></li>
                        {{else}}
                            <li class="w3-padding-16"><b>Sorry, the tickets are sold. You can view other events: <a href="#/eventsList" id="linkEvents"><i class="fa fa-star"></i>Events</a></b></li>
                        {{/if}}

                    </ul><br><br><br>

                </div>
            </div>
</section>
        {{>footer}}