{{#if isInCategory}}
<tr>
    <td>{{star}}<br><a href="#/eventDetails/:{{_id}}">[Details]</a></td>
    <td>{{date}}</td>
    <td>{{location}}</td>
    <td>{{price}} {{currency}}</td>
    <td>
        {{#if isAdmin}}
            <a href="#/delete/:{{_id}}">[Delete]</a>
            <hr>
            <a href="#/edit/:{{_id}}">[Edit]</a>
        {{else}}
            {{#if isUnlogged}}
                <p>If you want to buy tickets, have to log in.</p>
            {{else}}
                <h4>Price:</h4>

                <div><input type="number" name="price" required></div>
                <hr>
                <a href="#/buy/:{{_id}}">[Buy]</a>
                <hr>
            {{/if}}
        {{/if}}

    </td>
</tr>
{{/if}}