{{#if isInCategory}}
<tr>
    <td><button class="w3-button-small w3-green w3-padding-large"><a href="#/eventDetails/:{{_id}}">[Details]</a></button></td>
    <td>{{star}}<br><a href="#/eventDetails/:{{_id}}">[Details]</a></td>
    <td>{{date}}</td>
    <td>{{location}}</td>
    <td>{{price}} {{currency}}</td>
    <td>
        {{#if isAdmin}}

            <button class="w3-button-small w3-green w3-padding-small"><a href="#/edit/:{{_id}}">[Edit]</a></button>
            <hr>
            <button class="w3-button-small w3-red w3-padding-small"><a href="#/delete/:{{_id}}">[Delete]</a></button>

        {{else}}
            {{#if isUnlogged}}
                <p>If you want to buy tickets, have to log in.</p>
            {{else}}
                <h4>Price:</h4>

                <div><input type="number" name="price" required></div>
                <hr>
                <button class="w3-button-small w3-red w3-padding-small"><a href="#/buy/:{{_id}}">[Buy]</a></button>
                <hr>
            {{/if}}
        {{/if}}

    </td>
</tr>
{{/if}}