<tr>
    <td><a href="#/eventDetails/:{{_id}}" class="btn btn-primary">Details</a></td>
    <td>{{star}}<br></td>
    <td>{{category}}</td>
    <td>{{date}}</td>
    <td>{{location}}</td>
    <td>{{venueName}}</td>
    <td>{{price}} {{currency}}</td>
    <td>
        {{#if isAdmin}}

            <a href="#/edit/:{{_id}}" class="btn btn-success">Edit</a>
            <hr>
            <a href="#/delete/:{{_id}}" class="btn btn-danger">Delete</a>

        {{else}}
            {{#if isUnlogged}}
                <p>Log in to buy tickets.</p>
            {{else}}
                {{#if noTickets}}
                    <h4 class="alert-danger">SOLD OUT</h4>
                {{else}}
                    <h4>Tickets:</h4>
                    <form action="#/addToCart/:{{_id}}" method="post">
                        <div><input type="number" name="quantity" id="tickets" required></div>
                        <br>
                        <div><input type="submit" class="btn-sm btn-primary" value="Add to cart"></div>
                    </form>
                {{/if}}
            {{/if}}
        {{/if}}

    </td>
</tr>