{{#if inSamePrice}}
    <tr>
        <td><button-small class="w3-button w3-green w3-padding-large"><a href="#/eventDetails/:{{_id}}">[Details]</a></button-small></td>
        <td>{{star}}<br><a href="#/eventDetails/:{{_id}}">[Details]</a></td>
        <td>{{date}}</td>
        <td>{{category}}</td>
        <td>{{location}}</td>
        <td>
            {{#if isAdmin}}

            <button class="w3-button-small w3-green w3-padding-small"><a href="#/edit/:{{_id}}">[Edit]</a></button>
            <hr>
            <button class="w3-button-small w3-red w3-padding-small"><a href="#/delete/:{{_id}}">[Delete]</a></button>

            {{else}}
                {{#if isUnlogged}}
                        <p>Log in to buy tickets.</p>
                {{else}}
                        <h4>Tickets:</h4>
                        <form action="#/addToCart/:{{_id}}" method="post">
                            <div><input type="number" name="quantity" id="tickets" required></div>
                            <br>
                            <div><input type="submit" class="btn-sm btn-primary" value="Add to cart"></div>
                        </form>
                {{/if}}
            {{/if}}

        </td>
    </tr>
{{/if}}